* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  background: radial-gradient(circle at center, #2F1A1A 0%, #1A1010 60%, #0F0F0F 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 400px;
  padding: 32px;
  margin: 16px; 
  border: rgba(255, 255, 255, 0.08) solid 1px;
  border-radius: 16px;
  background: #1e141426;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);

  gap: 16px;

  position: relative;
  overflow: hidden;
}

.app-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 140, 0, 0.05);
  pointer-events: none;
  filter: blur(5px); 
}

.app-container #cover {
  max-width: 100%;
  width: 200px;
  height: auto;

  aspect-ratio: 1 / 1;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  object-fit: cover;
  border: rgba(255, 255, 255, 0.08) solid 2px;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#track-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chapter {
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFA500;
}

#name-author {
  font-size: 0.9em;
  color:#B3B3B3;
}

#play-pause,
#btn-backward,
#btn-forward {
  cursor: pointer;
}

#btn-backward,
#btn-forward {
  width: 40px;
}

#play-pause {
  width: 60px;
}

.pause {
  display: none;
}

.playing .play {
  display: none;
}

.playing .pause {
  display: block;
}

#button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}